 <h1 class="heading-title">Accounts</h1>
<div class="accounts-section">
    <div class="temp-account">
        <h2 class="section-title" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 2rem;">Explore Our Account Types</h2>

  <div class="account-cards">
    <div class="account-card">
      <img src="../../assets/Images/Accounts/current.png" alt="Current Account Icon" class="account-icon" />
      <h3>Current Account</h3>
      <p>
        Best suited for businesses and traders. Offers unlimited transactions,
        overdraft facility, and seamless fund management.
      </p>
    </div>

    <div class="account-card">
      <img src="../../assets/Images/Accounts/savings.png" alt="Savings Account Icon" class="account-icon" />
      <h3>Savings Account</h3>
      <p>
        Ideal for individuals to securely save. Offers interest, easy access, and
        effortless digital management.
      </p>
    </div>

    <div class="account-card">
      <img src="../../assets/Images/Accounts/salary.png" alt="Salary Account Icon" class="account-icon" />
      <h3>Salary Account</h3>
      <p>
        Tailored for salaried professionals. Zero balance, instant salary credit,
        and exclusive banking benefits.
      </p>
    </div>
  </div>
    </div>
  
</div>