<nav class="employee-navbar">
  <ul>
    <li><a routerLink="profile" routerLinkActive="active">My Profile</a></li>
    <li><a routerLink="add-customer" routerLinkActive="active">Customer Access</a></li>
    <li><a routerLink="delete-customer" routerLinkActive="active">Delete Customer</a></li>
    <li><a routerLink="update-customer" routerLinkActive="active">Update Customer</a></li>
    <li><a routerLink="view-transactions" routerLinkActive="active">View Transactions</a></li>
    <li><a routerLink="view-loans" routerLinkActive="active">Loan Requests</a></li>
  </ul>
</nav>