<nav class="navbar">

  <div class="navbar-brand">

    <a routerLink="/"><img  src="../../assets/Images/navbar/banklogo.png" alt="Bank Logo" /></a>

    <a routerLink="/" class="logo-home"><span class="logo-home">{{bank}}</span></a>

  </div>



  <div class="menu-toggle" (click)="toggleMenu()">

    &#9776;

  </div>



  <ul [class.active]="menuOpen" class="navbar-links">

    <li><a routerLink="/">Home</a></li>

    <li><a routerLink="/accounts">Accounts</a></li>

    <li><a routerLink="/loans">Loans</a></li>

    <li><a routerLink="/contact">Contact</a></li>

    <div *ngIf=hasSession>
    <li><a [routerLink]="[dynamicRoute]">Dashboard</a></li>
</div>
    <li *ngIf=!hasSession><a routerLink="/login" class="login-btn">Login</a></li>
    <li *ngIf=hasSession><a routerLink="/" class="login-btn" (click)="logout()">Logout</a></li>

  </ul>

</nav>